 @import url('https://fonts.cdnfonts.com/css/amazon-ember');

    * {
      font-family: 'Amazon Ember', sans-serif;
    }

   .feature-icon {
      width: 4rem;
      height: 4rem;
      border-radius: .75rem;
    }

    .flex-column {
      display: flex;
      justify-content: flex-end;
    }

    .team {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100%;
    }

    .slide {
      display: flex;
    }